.page-blocks{
	height:800px;
	margin-top:60px;
}

.home{
	.page-top-image{
		.subtitle{
			font-size:30px;
		}		
	}
}

.text-wrapper{
	color:white;
	text-shadow: rgba(0,0,0,0.4) 0 0 50px;
	width:100%;
}

.home-contact{
	margin-top:50px;
	.image{
		height:calc(100% - 140px);
		margin-top:140px;
	}
	.wpcf7-form{
		input[type=text],input[type=email], textarea{
			// width:90%;
		}
	}	
}